.list {
  padding: 15px 20px;
  border-radius: 25px;
  background-color: rgba(27, 27, 27, 0.5);
}

.item {
  position: relative;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 14px;
  background-color: #242424;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.error {
  color: tomato;
}

.loader-wrapper {
  position: relative;
  height: 100px;
  padding: 20px;
}
