.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 0 15px 20px;
}

.form > div {
  margin-bottom: 10px;
}

.button {
  margin-bottom: 5px;
}

.link {
  margin-right: auto;
  color: darkgrey;
  cursor: pointer;
}

.error {
  color: tomato;
}
